<style media="screen">

li {
    height: 100px;
    width: 100px;
    color: rgb(255, 220, 155);
    background-color: rgb(5, 25, 44);
}
</style>

<h1>Breakfast for {{eater}}</h1>

<ul>
    {{#each foods}}
    <li>{{breakfast}}</li>
       {{/each}}
</ul>