<style media="screen">

li {
    height: 100px;
    width: 100px;
    color: rgb(194, 80, 80);
    background-color: rgb(65, 30, 30);
}
</style>

<h1>Dinner for {{eater}}</h1>

<ul>
    {{#each foods}}
    <li>{{dinner}}</li>
       {{/each}}
</ul>